body {
    margin: 0;
}

#navbar {
    overflow: hidden;
    background-color: rgb(239, 239, 239);
}

#navbar a {
    float: left;
    display: block;
    color: #2b2b2b;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: rgb(249, 206, 240);
    color: #2b2b2b;
}

#navbar a.active {
    background-color: #842078;
    color: #ffffff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 60px;
}

.content {
    margin: 30px 80px 30px 80px;
}

.container {
    display: grid;
    column-gap: 10%;
    row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.card {
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
    max-height: 300px;
    padding: 10px 0px 10px 0px;
    overflow-y: hidden;
}

.card-image {
    width: 256px;
    height: 256px;
    border-radius: 20px;
}

.card-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    border-radius: 20px;
    background-color: #ffffff91;
    transform: translateY(0%);
}

.card:hover .card-header {
    transform: translateY(-100%) translateY(54px);
}

.card-description {
    overflow-y: scroll;
    padding: 0px 20px 0px 20px;
}

.card-price {
    color: #842078;
    align-self: flex-end;
    padding-right: 20px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center h3 {
    text-align: center;
}