body {
    margin: 0;
}

#navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 16px 0 rgba(0, 0, 0, 0.19);
}

#navbar a {
    float: left;
    display: block;
    color: #474747;
    text-align: center;
    font-family: Arial;
    padding: 24px 14px 24px 14px;
    text-decoration: none;
    transition-duration: 1s;
}

#navbar a:hover {
    background-color: rgb(253, 241, 248);
    color: #1d1d1d;
}

#navbar a.active {
    background-color: rgb(216, 58, 137);
    color: #ffffff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    margin: 90px 150px 30px 150px;
}

.container {
    display: grid;
    column-gap: 6%;
    row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 9px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    max-height: 310px;
    padding: 10px 0px 10px 0px;
    overflow-y: hidden;
}

.card-image {
    width: 256px;
    height: 256px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.card-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    border-radius: 20px;
    background-color: #ffffffba;
    transform: translateY(0%);
    transition-duration: 1s;
}

.card:hover .card-header {
    transform: translateY(-100%) translateY(54px);
}

.card-description {
    overflow-y: scroll;
    padding: 0px 25px 0px 25px;
    border-radius: 20px;
    text-align: justify;
}

.card-price {
    color: rgb(216, 58, 137);
    font-size: 22px;
    text-align: right;
    align-self: flex-end;
    padding-right: 36px;
}

.card h3 {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    align-self: center;
    max-width: 32ch;
    min-height: 20px;
}

.card:hover h3 {
    overflow: visible;
    white-space: initial;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center h3 {
    text-align: center;
}